* {
    font-family: 'Oswald', sans-serif;
}

html {
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Enforce page to be max the size of the viewing page height */
    height: 100vh;
    max-height: 100vh;

    background-color: #F5E1C1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Left part including the title, score and license */

.content__summary {
    padding: 32px 64px 32px 0;

    display: flex;
    flex-direction: column;
}

.content__summary__heading {
    flex: 1
}

.content_summary__license {
    flex: 1;
}

.content__summary h1 {
    color: #333333;
    font-weight:normal;
    font-size: 64px;

    margin: 0;
}

.content__summary__score {
    color: #006400;
    font-weight: normal;
    font-size: 42px;
}

.content__summary__license hr {
    border: 0px;
    border-top: 1px solid #333333;
}

/* Mid part displaying the game */

.content__game {
    position: relative;
}

.content__game__gameover {
    display: none;

    position: absolute;
    top: 200px;
    left: 40px;
    background:#F5E1C1;
    height: 200px;
    width: 340px;

    border: 2px solid  #BAA892;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__game__gameover h2 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    color: #333333;

    margin: 2px 0;
}

.content__game__gameover__score {
    color: #333333;
    font-weight: normal;
    font-size: 42px;
    margin: 0;
    text-align: center;
}

.content__game__gameover__score span {
    color: #006400;
}

/* Right part showing controls */

.content__controls {
    display: flex;
    padding: 32px 0 32px 64px;
    flex-direction: column;

    align-items: center;
}

.content__controls__rules, .content__controls__buttons {
    flex: 1;
    margin: 16px 0;
}

.btn {
    background-color: #DAC1A6;
    padding: 12px;
    font-size: 24px;
    color: #333333;
}

#rules-btn {
    display: none;
}

/* rules modal */

.rules {
    display: none;
    position: absolute;
    height: calc(100vh - 72px);
    width: calc(100vw - 72px);
    top: 20px;
    left: 20px;
    background: #F5E1C1;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;

    overflow-x: scroll;
    flex-direction: column;
    padding: 16px;
}

.rules__exit {
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    font-size: 32px;
}

.rules__properties__line, .rules__shapes__line, .rules__combinations__line  {
    display: flex;
    align-items: center;
    margin: 8px;
}

.rules__properties__line img, .rules__shapes__line img, .rules__combinations__line__images {
    margin-right: 8px;
}